<% books&.each.with_index(1) do |book, index| %>
  <div id="item<%= index %>">
    <%= image_tag book[:image], width: '100px', id: "image#{index}" %>
    <%= book[:title] %>
    <%= book[:url] %>
  </div>
<% end %>

<script>
  $("#item1").on("click", function () {
    var src1 = $("#image1").attr('src');
    $("#preview_image1").attr("src", src1);
  });
</script>
