// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";

#preview{
  position: relative;
}
#img1{
  position: absolute;
  bottom: 20px;
  left: 10px;
}
#img2{
  position: absolute;
  bottom: 20px;
  left: 70px;
}
#img3{
  position: absolute;
  bottom: 20px;
  left: 130px;
}
#img4{
  position: absolute;
  bottom: 20px;
  left: 190px;
}
#img5{
  position: absolute;
  bottom: 20px;
  left: 250px;
}
#title_preview{
  position: absolute;
  top: 15px;
  left: 30px;
  font-size: 25px;
  font-weight: bold;
}
